<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/api/advertisement/allAdvertisement">Home</a>
      <ul class="navbar-nav">
        <% if ('passport' in res.req.session) { %>
          <li class="nav-item">
            <a class="nav-link" href="/api/user/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/auth/logout">Sign Out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/advertisement/create">Create Advertisement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/advertisement/author/<%= res.req.session.passport.user %>">My adv</a>
          </li>
        <% } else {%>
          <li class="nav-item">
            <a class="nav-link" href="/api/auth/login" data-protected="true">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/auth/signup">Sign Up</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>
