<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create your advertisement</title>
        <link rel="stylesheet" href="/css/styles.css">
      </head>
<body>
    <%- include('../partials/header') %>

    <h1>Create a New Advertisement</h1>

    <form action="/api/advertisement/createAdvertisement" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" required>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea name="description" id="description" rows="4" required></textarea>
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="number" name="price" id="price" step="0.01" required>
        </div>
        <button type="submit">Create Advertisement</button>
    </form>
    <%- include('../partials/footer') %>

</body>
</html>
