<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create your advertisement</title>
        <link rel="stylesheet" href="/css/styles.css">
      </head>
      <body>
        <%- include('../partials/header') %>
        <div class="container">
          <h1>Create a New Advertisement</h1>
          <form action="/api/advertisement/createAdvertisement" method="POST">
            
        <div>
            <label for="title">Title:</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div>
            <label for="address">Address:</label>
            <textarea name="address" id="address" rows="4" required></textarea>
        </div>
        <div>
            <label for="detail">Detail:</label>
            <textarea name="detail" id="detail" rows="4" required></textarea>
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="number" name="price" id="price" step="1" required>
        </div>
        <button type="submit">Create Advertisement</button>
    </form>
</div>
<%- include('../partials/footer') %>
</body>
</html>
